<td class="my-pointer">
  <%= link_to toggle_check_todo_path(todo), id: "todo-check-#{todo.id}", method: :post do %>
    <% if todo.done? %>
      <span class="my-font glyphicon glyphicon-check"></span>
    <% else %>
      <span class="my-font glyphicon glyphicon-unchecked"></span>
    <% end %>
  <% end %>
</td>
<td class="my-title">
  <p class="title my-font">
    <%= todo.title %>
  </p>
</td>
<td class="my-operation">
  <span class="edit-todo my-btn my-btn-transparent text-info glyphicon glyphicon-pencil"></span>
  <span class="delete-todo my-btn my-btn-transparent text-danger glyphicon glyphicon-trash"></span>
 </td>
</td>
