<div class="container">

  <h1 class="text-center">To Do List</h1>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">事項清單</h3>
    </div>

    <!-- Add new todo -->
    <div class="panel-body">
      <form>
        <label>Add new to-do</label>
        <div class="input-group">
          <input type="text_area" id="new-todo" class="form-control" />
          <div class="input-group-addon">
            <button id="create-todo" class="my-btn my-btn-transparent">Create</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Todo List -->
    <table class="my-table table table-hover">
      <tbody id="todolist">
        <% @todos.each do |todo| %>
          <tr id="<%= todo.id %>">
            <%= render :partial => "todo", :locals => { :todo => todo } %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  $("#todolist").on("click", ".delete-todo", function(event){

    var id = event.target.parentNode.parentNode.id;
    console.log(id);
    $.ajax({
      url: "todos/" + id,
      method: "DELETE",
      dataType: "json",
      success: function(data) {
        $("#" + data["id"]).remove();
      }
    });

  });

  $("#create-todo").on("click", function(event) {
    $.ajax({
      url: "todos/",
      method: "POST",
      dataType: "json",
      data: { 
        todo: { 
          title: $("#new-todo").val()
        }
      },
      success: function(data) {
        var todo = document.createElement("tr");
        todo.id = data["id"];
        $(todo).html($("#todo-template").html());
        $(todo).find(".title.my-font").html(data["title"]);
        $("#todolist").append(todo);
        }
    });
  });
</script>

<script type="text/template" id="todo-template">
  <td class="my-pointer">
    <span class="my-font glyphicon glyphicon-unchecked"></span>
  </td>
  <td>
    <p class="title my-font"></p>
  </td>
  <td class="my-operation">
    <span class="my-btn my-btn-transparent text-info glyphicon glyphicon-pencil"></span>
    <span class="delete-todo my-btn my-btn-transparent text-danger glyphicon glyphicon-trash"></span>
  </td>
</script>
